/*******************HEADER SECTION************/
@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__container {
        width: 100%;
        justify-content: center;
    }
    .header__caption p {
        width: 90%;
        margin: -20px auto;
    }
    .header__icons {
        flex-direction: column;
        align-items: center;
        margin: 80px auto 0;
        width: 90%;
        height: 400px;
    }
    .header__icons p {
        width: 90%;
        margin: 0 auto;
    }
    .header__applications {
        height: 360px;
        flex-direction: column;
        margin: 50px auto 0;
        padding-bottom: 20px;
    }
    .header .btn {
        width: 45vw;
    }
    .header .application p {
        width: 90%;
    }
}
/*********************************************/

/*******************HEADER SECTION************/
@media screen and (min-width: 320px) and (max-width: 900px) {
    .features__first, .features__second {
        flex-direction: column;
    }
    .features__first {
        margin-top: 30px;
        height: 640px;
    }
    .features__second {
        margin-top: 10px;
        height: 500px;
        justify-content: space-around;
    }
    .features .feature p {
        width: 90%;
    }
}