* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin LatoRegular {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
@mixin LatoBold {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.header {
    height: auto;
    background: url('../images/header-bg.png') no-repeat center center / cover;
    &__container {
        display: flex;
        width: 80%;
        justify-content: flex-end;
    }
    &__number {
        text-align: right;
        margin-top: 20px;
    }
    .number {
        color: #fff;
        @include LatoBold();
        font-size: 28px;
    }
    .link {
        color: #ac1b32;
        @include LatoRegular();
        font-size: 1rem;
    }
    &__caption {
        margin-top: 120px;
        color: #fff;
        text-align: center;
        h1 {
            @include LatoBold();
            font-size: 2.5rem;
            text-transform: uppercase;
        }
        p {
            @include LatoRegular();
            font-size: 1.5rem;
            margin-top: -20px;
            letter-spacing: 1px;
    }
}
    &__icons {
        margin: 115px auto 0;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        .icon {
            text-align: center;
            color: #fff;
        }
        p {
            font-size: 1.125rem;
            margin-top: 20px;
            width: 13vw;
            @include LatoRegular();
        }
    }
    &__applications {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
        margin: 100px auto 0;
        padding-bottom: 80px;
    }
    .application {
        text-align: center;
        p {
            @include LatoRegular();
            font-size: 0.875rem;
            color: #fff;
            margin: 20px auto 0;
            width: 13vw;
            line-height: 20px;
        }
    }
    .btn {
        width: 20vw;
        outline: none;
        text-align: center;
        border-radius: 25px;
        padding: 15px;
        border: none;
        @include LatoBold();
        cursor: pointer;
        font-size: 1.125rem;
    }
    .fast {
        background-color: #d91233;
        color: #fff;
    }
    .detailed {
        background-color: transparent;
        border: 2px solid #d91233;
        color: #fff;
    }
}
.features {
    &__first {
        margin-top: 80px;
        display: flex;
        justify-content: space-around;
    }
    &__second {
        margin: 80px auto 0;
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
    .feature {
        text-align: center;
        h3 {
            @include LatoBold();
            margin-top: 30px;
        }
        p {
            @include LatoRegular();
            width: 20vw;
            margin: 20px auto;
        }
    }
}